<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Socket.io</title>
</head>
<body>
    <div class="wrapper">
        <div class="formSbumit">
            <input type="text" placeholder="Nhập họ tên" id="txtName">
            <input type="email" placeholder="Nhập email" id="txtEmail">
            <input type="text" placeholder="Nhập số điện thoại" id="txtPhone">
            <button class="btn-submit">Send</button>
        </div>
        <div id="listCurrentInfo">
            
        </div>
    </div>
    
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="/public//xuly.js"></script>
</body>
</html>